{% extends 'layout.html' %}
{% load static %}
{% block title %}

    数据统计
{% endblock %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">环境数据采集<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/chart/manage/1">核酸检测情况</a></li>
                        <li><a href="/chart/manage/2">环境数据采集</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body" id="m1" style="width: 100%;height: 400px;">
                cont
            </div>
        </div>
        {#        <div class="row">#}
        {#            <div class="col-xs-12">#}
        {#                <div class="panel panel-default">#}
        {#                    <div class="panel-heading">柱状图</div>#}
        {#                    <div class="panel-body" id="m2" style="width: 100%;height: 400px;">#}
        {#                        cont#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-xs-4">#}
        {#                <div class="panel panel-default">#}
        {#                    <div class="panel-heading">饼图</div>#}
        {#                    <div class="panel-body">#}
        {#                        cont#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
    </div>
    </div>
{% endblock %}
{% block js %}

    <script src="{% static 'js/echarts.min.js ' %}"></script>
    <script type="text/javascript">

        $(function () {
            {#initBar();#}
            initLine()
        })

        function initBar() {
            var myChart = echarts.init(document.getElementById('m2'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '环境数据采集',
                    textAlign: "auto",
                    left: "center",
                    subtext: "{{ month }}月",

                },
                tooltip: {},
                legend: {
                    data: ['体温异常人数', '总检测人数'],
                    bottom: 0,
                },
                xAxis: [{
                    // 七天数据
                    data:{{ days }}
                }],
                yAxis: {},
                series: [
                    {
                        name: '体温异常人数',
                        type: 'bar',
                        //每天体温异常的人数列表（7天）
                        {#data: [1, 3, 3, 1, 0, 2]#}
                        data:{{ exception }}

                    },
                    {
                        name: '总检测人数',
                        type: 'bar',
                        //每天总检测的人数（7天）
                        {#data: [5, 20, 36, 10, 10, 20]#}
                        data:{{ total }}
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }

        // 基于准备好的dom，初始化echarts实例
        function initLine() {
            var myChart = echarts.init(document.getElementById('m1'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '环境数据采集（{{ month }}月{{ day }}日）'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['温度（单位：C）', '相对湿度（单位：%）']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {

                    data: {{ hours }}
                },
                yAxis: [{
                    type: 'value',
                    min:20
                }],
                series: [
                    {
                        name: '温度（单位：C）',
                        type: 'line',

                        data: [36.7,36.6,37.1,36.5,36.8,36.2,36.7,36.6,37.1,36.5,36.6,36.5]
                        {#data:{{ temp }}#}
                    },
                    {
                        name: '相对湿度（单位：%）',
                        type: 'line',

                        data: [46,45,40,43,41,47,48,45,50,40,41,42]
                        {#data: {{ humidity }}#}
                    },
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }

        // 基于准备好的dom，初始化echarts实例

    </script>
{% endblock %}